body{
    background-color: rgb(238, 229, 242);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 80vh;
    background-color: rgb(155, 248, 239);
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.message .form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    font-size: 13px;
    font-weight: 100;
    justify-content: space-between;
}
.message .form button{
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    border-radius:5px 10px 5px 10px ;
    background-color: black;
    color: white;
    margin:20px 0 0 120px;
}
.message textarea{
    width: 300px;
    height: 120px;
    border: none;
    box-shadow: 0px 0px 15px 1px grey;
    margin: 0 0 0 20px;
    border: none;
    outline: none;
}
.message input{
    width: 95%;
    outline:none;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}body{
    background-color: rgb(238, 229, 242);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 80vh;
    background-color: rgb(155, 248, 239);
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.message .form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    font-size: 13px;
    font-weight: 100;
    justify-content: space-between;
}
.message .form button{
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    border-radius:5px 10px 5px 10px ;
    background-color: black;
    color: white;
    margin:20px 0 0 120px;
}
.message textarea{
    width: 300px;
    height: 120px;
    border: none;
    box-shadow: 0px 0px 15px 1px grey;
    margin: 0 0 0 20px;
    border: none;
    outline: none;
}
.message input{
    width: 95%;
    outline:none;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}