body {
    font-family: Arial, sans-serif;
    margin-left: 20px;
    background-color: aqua;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

/* .gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
} */

.team-member {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    color: white;
    /* background-color:black; */
    
    width: 100%;
    padding: 20px;
  }
  
  nav img{
      margin-right: auto;
      height: 100px;
      border-radius: 8px;
  }
  
  nav ul {
      display: flex;
      list-style: none;
  }
  
  nav ul li a {
      color: rgb(15, 126, 74);
      text-decoration: none;
      font-weight: 600;
  
      padding: 20px;
      font-size: 20px;
      font-weight: 700;
  
  }

.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
  }
  
  .images img {
    width: 20%; 
    height: 300px; 
    border-radius: 20px;
    margin: 5px;
    object-fit: cover;
  }